/* https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento! */

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* botao azul */
.btn-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1173d4;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s ease; /* suaviza transformação */
  color: #fff;
  cursor: pointer;
}

.btn-1:hover {
  transform: scale(1.1);
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* botao laranja */
.btn-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(249, 116, 21);
  padding: 16px 16px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s ease; /* suaviza transformação */
  color: #fff;

  /* Media query para telas menores */
  @media (max-width: 550px) {
    width: 300px;

    font-size: 0.856rem; /* reduz tamanho da fonte */
  }
}

.btn-2:hover {
  transform: scale(1.1);
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* container */

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; /* centraliza horizontalmente */
  padding: 20px 40px; /* um respiro nas laterais */
}

.btn-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  padding: 16px 20px;
  border-radius: 30px;
  border: 2px solid #757c89;
  font-weight: 500;
  transition: 0.3s ease; /* suaviza transformação */
  color: #111;
}

.btn-3:hover {
  transform: scale(1.1);
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/*text*/

.text-1 {
  color: #757c89;
  font-size: 1.5rem;
  max-width: 50ch;
  text-align: center;
  font-weight: 200;

  /* Media query para telas menores */
  @media (max-width: 768px) {
    font-size: 1.5rem; /* reduz tamanho da fonte */
  }
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

.text-2 {
  color: #111;
  font-size: 2.2rem;
  text-align: center;
}

.text-3-grey {
  color: #757c89;
  font-size: 1.5rem;
  max-width: 50ch;
  font-weight: 200;
}

.text-4-black {
  color: #111;
  font-size: 2.2rem;
}

.mg-bottom {
  margin-bottom: 80px;
}

.dot {
  color: rgb(17, 115, 212);
  font-size: 4rem;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* CARD */

.card {
  position: relative;
  border-radius: 20px;
  border: 1px solid #757c89;
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.8);
}

.card img {
  width: 100%;
  height: 180px; /* altura fixa só da imagem */
  object-fit: cover;
}

.card h2 {
  color: #111;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 15px;
}

.card p {
  color: #757c89;
  font-size: 1rem;
  padding: 0 15px 10px;
  flex-grow: 0; /* desativa crescimento forçado */
}

.btn-card {
  display: block;
  text-align: center;
  margin: 10px 15px 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #8c8;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.btn-card:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* CARD */

.tag {
  position: absolute;
  display: flex; /* ativa o flexbox */
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  width: 120px;
  height: 30px;
  top: 10px;
  right: 10px;
  border-radius: 20px;
  color: #fff; /* deixa o texto visível */
  font-weight: 500;
}

.text-h2 {
  color: #282c34;
  font-size: 3.3rem;
  max-width: 20ch;
  padding: 0;

  /* Media query para telas menores */
  @media (max-width: 1300px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.text-p {
  color: #757c89;
  font-size: 1.1rem;
  max-width: 60ch;
  font-weight: 200;
  line-height: 1.9;

  /* Media query para telas menores */
  @media (max-width: 1300px) {
    text-align: left;
  }
}
