.hero {
  padding-top: 80px;
}

.blue {
  color: #1173d4;
}

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.container-hero h1 {
  color: #282c34;
  font-size: 3.5rem;
  max-width: 30ch;
  text-align: center;
  padding-top: 80px;
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .container-hero h1 {
    font-size: 2.5rem; /* reduz tamanho da fonte */
  }
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
