/* --- STORE GRID --- */
.store-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

/* --- MOSAICO --- */
.image-mosaic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px; /* espaçamento minúsculo entre imagens */
}

.image-mosaic img {
  width: 100%;
  aspect-ratio: 1 / 1; /* mantém quadrado */
  object-fit: cover;
  border-radius: 14px; /* bordas arredondadas */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-mosaic img:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* --- FORMULÁRIO AO LADO DIREITO --- */
.store-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 2rem;
}

.store-text h2 {
  font-size: 1.5rem;
  color: #282c34;
  margin-bottom: 10px;
}

.store-tag {
  max-width: max-content;
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 40px;
  color: #fff;
  margin-bottom: 40px;
}

.btn-store {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #21c063;
  font-size: 1.5rem;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 200;
  transition: 0.3s ease; /* suaviza transformação */
  color: #fff;
  cursor: pointer;
  max-width: max-content;
}

.btn-store:hover {
  transform: scale(1.1);
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 768px) {
  .store-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .store-text {
    align-items: center;
    text-align: center;
  }

  .store-text input,
  .store-text button {
    width: 100%;
  }

  .store-tag {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* --- CARROSSEL DE IMAGENS PARA TELAS MENORES --- */
@media (max-width: 900px) {
  .image-mosaic {
    display: flex; /* transforma em carrossel */
    flex-wrap: nowrap; /* uma linha só */
    overflow-x: auto; /* scroll horizontal */
    -webkit-overflow-scrolling: touch; /* smooth no Safari */
    gap: 16px;
    padding: 10px 0;
    width: 100vw; /* estoura container */
    margin-left: calc(
      -50vw + 50%
    ); /* centraliza horizontalmente fora do container */
    scroll-snap-type: x mandatory; /* trava cada imagem */
    box-sizing: border-box;
  }

  .image-mosaic img {
    flex: 0 0 auto; /* mantém tamanho fixo no scroll */
    width: auto; /* largura proporcional ao height */
    height: 400px; /* altura maior para mobile */
    aspect-ratio: auto; /* permite altura definida */
    scroll-snap-align: start; /* trava ao parar o scroll */
    border-radius: 16px;
  }

  /* Scrollbar personalizada para Safari, Chrome e Android */
  .image-mosaic::-webkit-scrollbar {
    height: 12px;
  }

  .image-mosaic::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }

  .image-mosaic::-webkit-scrollbar-thumb {
    background-color: #f97415; /* cor desejada */
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
}
